@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

:root {
  --yellow: #ffc200;
  --yellow-light: #ffedb4;
  --rose-white: #eaeefe;
  --sky-blue: #f7f8ff;
  --grey-1: #c6c6c6;
  --grey-2: #868686;
  --grey-3: #667583;
  --grey-4: #4a4a4a;
  --grey-5: #a1a1a1;
  --grey-6: #fcfcfc;
  --black-6: #0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #212529;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  list-style: none;
}

/* img {
  width: 100%;
} */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.header {
  background-color: #ffffff6c;
  left: 0;
  right: 0;
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 1000;
  padding: 1.5rem;
  /* position: relative; */
  /* overflow-x: hidden; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.3rem;
  transition: all 0.5s ease-in-out;
}
.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 1.8rem;
}
.nav ul li {
  margin: 0 3.9rem;
}
.nav ul li a:hover {
  color: var(--yellow);
  transition: all 0.3s ease;
}
/* .nav--bar svg {
  background-color: brown;
} */
/* .nav--bar-Close {
  ba
} */
.logo {
  margin-left: 5rem;
  /* background-color: red; */
}
.nav .logo img {
  width: 2.75rem;
}
.nav .input input {
  margin-left: 13rem;
  width: 35rem;
  display: block;
  height: 2.75rem;
  border-radius: 30px;
  padding: 2rem 1rem;
  border: 1px solid transparent;
  font-weight: 100;
}
.nav .input input::placeholder {
  text-align: left;
  padding: 2rem;
  font-weight: lighter;
}
.nav .input input:hover {
  outline: 1px solid gold;
}
/* MOBILE */
.mobile-nav {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 2.8rem;
  color: #333;
}
/* <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon> */

.hero {
  min-height: 100vh;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  /* align-items: center; */
  padding-top: 7.4rem;
}
.section--hero {
  background: linear-gradient(90deg, #ffc20008, #f7f8ff, #f7f8ff);
}
.hero--btns {
  /* width: 13.83rem;
  height: 3.8rem; */
  padding: 2rem 6rem;
  font-size: 1.6rem;
  border: none;
  background-color: var(--yellow);
  border-radius: 0.75rem;
  align-items: flex-end;
  margin-top: 2rem;
}
.hero--btns:hover {
  box-shadow: 4px 4px 28px rgba(255, 194, 0, 0.5);
}
.btn-icon {
  width: 4rem;
  /* background-color: gold; */
  color: #ffc200;
  align-items: end;
  /* margin-right: 20rem; */
  /* margin-top: 30rem; */
}
.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spans-text {
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  gap: 5rem;
}
.hero--img-box {
  width: 100%;
  margin-left: 18rem;
}
.img-box {
  width: 57%;
}
.hero--text-box {
  margin-left: 10rem;
}
.heading-primary {
  padding-top: 16.5rem;
  font-weight: 800;
  font-size: 6rem;
  line-height: 1.3;
}
.hero-description {
  margin: 1.25rem 0;
  font-weight: 300;
  font-size: 1.8rem;
}
/* the second section */
.height-100 {
  min-height: 100vh;
}
.discover--programs {
  display: flex;
}
.left {
  text-align: center;
  /* margin-top: 2rem; */
  /* line-height: 1.5; */
  font-weight: 600;
  /* margin: 40px 270px; */
  padding: 40px 270px;
  /* background-color: red; */
}
.second--heading {
  font-size: 2.8rem;
  line-height: 5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.description {
  /* margin-top: 1.8rem; */
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.6rem;
  margin: 3rem 4rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 1.25rem; */
  column-gap: 0.7rem;
  row-gap: 5rem;
  background-color: white;
  /* box-shadow: 0px 0px 10px var(--grey-3); */
  margin-top: 3.12rem;
  padding: 4.5rem;
}

.grid-container > div {
  height: 13rem;
  width: 35rem;
  padding: 10px;
}

.card {
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 52.6301px rgba(0, 0, 0, 0.05);
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.095); */
  transition: all 0.3s ease;
}

.card:hover {
  border: none;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.095); */
  transition: all 0.3s ease-in-out;
}

.icon {
  /* background-color: navy; */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container {
  width: 3.7rem;
  height: 3.7rem;
}
.icon img {
  width: 50px;
  height: 50px;
}

.Bold {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Bold h5 {
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-bottom: -0.6rem;
  font-weight: 600;
}
.Bold p {
  font-size: 1.6rem;
}

/* Start of third container */
.third-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10.6rem;
  /* gap:10rem; */
  /* background-color: navy;   */
  min-height: 80vh;
  gap: 2rem;
  align-items: flex-start;
}

.content {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  margin-left: 5rem;
}
.image {
  /* height: 80%; */
  width: 50%;
  /* background-color: brown; */
}
.img-cont {
  /* height: 100%; */
  width: 50%;
}
.imgs {
  border-radius: 35px;
  width: 190%;
}

.yellow {
  color: var(--yellow);
  /* background-color: pink; */
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.text h1 {
  font-size: 1.2rem;
  writing-mode: horizontal-tb;
  margin-bottom: 20px;
}
.bigText {
  font-size: 2.9rem;
  /* background-color: red; */
  margin-bottom: 4rem;
}
/* .wrapper-right img {
  width: 90%;
  border-radius: 12px;
  background-color: blue;
} */

.folder {
  /* display: inline-block; */
  /* background-color: aqua; */
  margin-top: 0.6rem;
}

.checked {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.2rem;
}
.third-wrapper {
  /* margin: 0 auto; */
  padding: 0 auto;
}
.shortTxt {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.Btn button {
  margin-top: 2.5rem;
  font-weight: bold;
  background-color: #ffc200;
  height: 61.398902893066406px;
  width: 212px;
  font-size: 2rem;
  border: none;
  border-radius: 11px;
  /* padding: 0.94rem;
  color: black;
  font-size: 1.25rem;
  border-radius: 12px;
  background-color: var(--yellow);
  border: 1px solid transparent;
  margin-top: 1.25rem; */
}
.Btn button:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 28px rgba(255, 194, 0, 0.5);
  cursor: pointer;
}
.fourth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9.5rem;
  gap: 2rem;
  align-items: flex-start;
}
.top {
  width: 50%;
  margin-left: 30px;
}
.bottom {
  width: 50%;
}
.fourth--text {
  margin-bottom: 1.25rem;
  font-weight: 700;
  line-height: 37.11px;
  margin: 15px 0px 25px;
  font-size: 3rem;
}
.fTxt {
  font-size: 1.9rem;
  line-height: 30px;
}
.top img {
  width: 100%;
}
.bottom p {
  margin-bottom: 1.25rem;
}
.color {
  color: var(--yellow);
  font-size: 1.6rem;
}
.btn--fourth button {
  font-weight: 100;
}
.video-wrapper {
  /* background-color: blue; */
  padding: 3.5rem;
  width: 100%;
  min-height: 626px;
  flex-direction: column;
  /* margin-top: 10rem; */
  position: relative;
}
.slide {
  position: absolute;
  bottom: -11.25rem;
  /* wid */
  /* left: 25%;
  right: 25%; */
  right: 70px;
  left: 70px;
  z-index: 100;
}
.slide iframe {
  border-radius: 20px;
  height: 60rem;
  width: 100%;
}
.picture-wrapper {
  background-image: url(./img/DSC_9989\ 1.png);
  background-color: #212529;
  width: 100%;
  min-height: 83vh;
  /* z-index:20 */
  background-blend-mode: overlay;
  /* backdrop-filter: drop-shadow(2px 2px 20px blue); */
}
.new-Page {
  display: flex;
  padding-top: 21rem;
  padding-left: 12rem;
  padding-right: 12rem;
  /* padding: 0 12rem; */
  /* margin: 17rem 12rem; */
  align-items: center;
  justify-content: space-between;
  /* padding-top: 10rem; */
}
.v {
  color: white;
  margin-bottom: 3.12rem;
  font-size: 1.6rem;
}
.title {
  font-weight: 400;
  color: gold;
  font-size: 3.2rem;
}

.sponsership--wrapper {
  margin-top: 10.3rem;
  /* display: flex; */
  flex-direction: column;
  /* height: 50vh; */
}
.sponsership--wrapper--title {
  /* background-color: red; */
  font-size: 1.6rem;
  font-weight: 500;
}
.sponsership--wrapper--text {
  text-align: center;
}
.sponsership--wrapper--text p {
  color: #ffc200;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  /* background-color: red; */
}
.sponsership--wrapper--texts {
  font-size: 1.3rem;
  /* line-height: 1.4; */
  /* letter-spacing: 2px; */
}
.sponsership--wrapper--text {
  /* background-color: #ffc200; */
  /* display: flex; */
  width: 100%;
  height: 7.5rem;
}
.sponsership--wrapper--item {
  /* background-color: black; */
  /* width: 50%; */
  display: flex;
  align-items: center;
  margin-right: 10rem;
  margin-left: 10rem;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  flex: 1;
  /* background-color: lightskyblue; */
  /* padding: 4.3rem; */
  margin-top: 10rem;
  gap: 2.5rem;
}
.sponsership--wrapper--title {
  margin-bottom: 1.56rem;
  margin-top: 1.25rem;
}

.item {
  text-align: center;
  background-color: #f7f8ff;
  /* padding: 0.625rem; */
  height: 41.7rem;
  padding: 0px 59px;
  width: 51.93rem;
  padding-top: 6.25rem;
  border-radius: 10px;
  /* position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0); */
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  /* transform: scale3d(1, 1, 0); */
}
.item:hover {
  /* transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  will-change: transform; */
  /* transform: scale(1.1);
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
  transition: 0.4s ease-in-out; */
  transition-duration: 150ms;
  /* box-shadow: 0 5px 20px 5px #00000044; */
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  /* transform: matrix(1, 1, 1, 1, 1, 0); */
}
.sponsership--button button {
  /* padding: 1rem 3rem;
  margin-top: 3.12rem;
  background-color: transparent;
  border: 0.5px solid; */
  border-radius: 12px;
  font-weight: 100;
  border: 1.02px solid var(--grey-2);
  margin-top: 10px;
  background-color: transparent;
  height: 61px;
  width: 212px;
}
.sponsership--button button:hover {
  background-color: #ffc200;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
/* .sponsership--wrapper--title {
  font-size: 1.25rem;
  font-weight: 400;
} */

/* start of footer section */
.wrapper--footer {
  margin-top: 10rem;
  margin-bottom: 125px !important;
  /* padding-top: 100px; */
  display: flex;
  align-items: flex-start;
  padding: 76px 91px !important;
  background-color: black;
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  height: 265px;
  z-index: 2;
}
.wrapper--form {
  /* width: 50%; */
  /* height: 3.12rem; */
  /* background-color: blue; */
  background: #000;
}
.wrapper-info {
  width: 50%;
  /* background-color: red; */
  color: white;
}
.subheading {
  font-size: 4rem;
  line-height: 51px;
  letter-spacing: normal;
  font-weight: 700;
}
.wrapper--form form {
  display: flex;
  /* justify-content: center; */
  border: 2px solid rgb(70, 70, 70);
  height: 100%;
  width: 100%;
  padding: 0.125rem;
}
.wrapper--form form .footer--input {
  color: white;
  /* width: 70%; */
  width: 482px;
  height: 82px;
  padding: 0.125rem 2rem;
  background-color: black;
  border: none;
  outline: 0;
}
.wrapper--form form input::placeholder {
  color: rgb(78, 78, 78);
  font-weight: 400;
  font-size: 1.6rem;
  /* margin-left: 30rem; */
  padding-left: 40px;
}
.btn--form {
  width: 30%;
  height: 7rem;
  font-size: 1.9rem;
  background-color: var(--yellow);
  border-radius: 5px;
  cursor: pointer;
  /* padding: 4rem; */
  margin: 0.7rem 1rem;
  /* margin-left: 10rem; */
  border: none;
  letter-spacing: 2px;
}
.btn--form:hover {
  color: white;
}
/* start of copyright */
.wrapper--copyright {
  margin: 6.25rem auto;
}
.wrapper--copyright h3 {
  font-weight: 100;
  padding-bottom: 1.25rem;
}
.wrapper--copyright--text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.625rem;
}
.smallscreen.footer {
  display: none;
  background-color: rgb(146, 181, 187);
}
.wrappper--footer {
  display: block;
}
/* .footer {
  display: block;
  background-color: blue;
} */

.hidden {
  display: none;
}
